@import "extra";

@font-face {
    font-family: "IRANYekan";
    src: url("../Fonts/IRANYekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url("../Fonts/IRANYekan-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.ad-container {
    margin: 5px;
    position: relative;
    border: solid 1px #dde4ea;
    outline: solid 1px #dde4ea;
    outline-offset: 0px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 12px;
    padding: 3px 0 10px;
    border: 1px solid red;
}
