* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "IRANYekan", sans-serif;
  overflow: hidden;
}

.page-container {
  margin-top: 90px;
  margin-left: 5px;
  width: 496.5px;
  height: 600px;
  border: 1px solid black;
  background-color: rgb(239, 245, 251);
}

.compare-btn {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(216, 216, 216);
  font-size: 30px;
  text-decoration: none;
  border: 2px solid rgba(172, 172, 172, 0.366);
  padding: 0 10px;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.15s;
}
.compare-btn:hover {
  opacity: 1;
}
.compare-btn:active {
  opacity: 0.85;
}

@font-face {
  font-family: "IRANYekan";
  src: url("../Fonts/IRANYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan-Bold";
  src: url("../Fonts/IRANYekan-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.ad-container {
  margin: 5px;
  position: relative;
  border: solid 1px #dde4ea;
  outline: solid 1px #dde4ea;
  outline-offset: 0px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 12px;
  padding: 3px 0 10px;
}

.ad-categories {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.ad-categories div {
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: black;
  padding: 5px 9px 6px 9px;
  color: white;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.ad-categories .ad-categories-sell {
  background-color: #1ca8d3;
  border-radius: 0 12px 0 0;
}
.ad-categories .ad-categories-type {
  background-color: #ef3e4a;
  border-radius: 0 0 0 10px;
}

.time-section {
  color: #9dabb6;
  padding: 0 0 0 18px;
  font-size: 17.2px;
  text-align: left;
}
.time-section div {
  display: inline-block;
}

.info-section {
  background-color: #eff5fa;
  margin: 16px 18px 13px;
  border-radius: 12px;
}
.info-section .info-header {
  padding: 8px 15px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.info-section .info-header div {
  display: inline-block;
}
.info-section .info-header .ad-tags {
  display: inline-flex;
  justify-content: left;
  gap: 9px;
}
.info-section .info-header .ad-tags .header-tag {
  border-radius: 6px;
  color: white;
  padding: 0 28px 0 9px;
  letter-spacing: 0.4px;
}
.info-section .info-header .ad-tags .given-icon {
  background: url("../imgs/Ehiashode.svg") no-repeat, #283946;
  background-size: 22px;
  background-position: 93%;
}
.info-section .info-header .ad-tags .handy-icon {
  background: url("../imgs/Damedasti.svg") no-repeat, #283946;
  background-size: 22px;
  background-position: 93%;
}
.info-section .info-header .radar-id {
  color: #506474;
  letter-spacing: 0.2px;
}
.info-section .info-header .radar-id .radar-id-number {
  letter-spacing: 0.8px;
}
.info-section .title-section {
  font-family: "IRANYekan-Bold";
  font-size: 17px;
  color: #283946;
  margin: 7px 15px;
  padding-right: 32px;
  background: url("../imgs/Camera.svg") no-repeat;
  background-position: 100%;
  background-size: 25px;
  letter-spacing: 0.1px;
}
.info-section .facilities-section {
  font-size: 12.5px;
  color: #a4b1bb;
  margin: 14px 14px 12px 14px;
  letter-spacing: 0.1px;
  display: flex;
  flex-direction: row;
}
.info-section .facilities-section .facilities-tags {
  display: flex;
  flex-direction: row;
  gap: 13.4px;
  margin-right: 15px;
}
.info-section .facilities-section .facilities-tags .facilities-tag {
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
}
.info-section .facilities-section .facilities-tags .facilities-tag-parking {
  background: url("../imgs/Parking.svg") center/cover no-repeat;
}
.info-section .facilities-section .facilities-tags .facilities-tag-storge {
  background: url("../imgs/Storage.svg") center/cover no-repeat;
}
.info-section .facilities-section .facilities-tags .facilities-tag-balcone {
  background: url("../imgs/Balcone.svg") center/cover no-repeat;
}
.info-section .facilities-section .facilities-tags .facilities-tag-elevator {
  background: url("../imgs/Elevator.svg") center/cover no-repeat;
}
.info-section .details-txt {
  color: #506474;
  font-size: 14.9px;
  margin: 0 14px;
}
.info-section .more-details {
  border: 1px solid #a4b1bb;
  background: url("../imgs/Discription.svg") no-repeat, #e7ffee;
  background-position: 97.5%;
  background-size: 22px;
  display: inline-block;
  color: #01c73a;
  font-size: 14px;
  margin: 7.8px 14px;
  padding: 0 28px 0 8px;
  border-radius: 6px;
  line-height: 23px;
  letter-spacing: 0.4px;
}
.info-section .price-section {
  border-top: 2px solid #dde4ea;
  margin: 6px 0 8px 0;
  padding: 12px 15px 14px;
  font-size: 17.5px;
  color: #283946;
  letter-spacing: -0.05px;
}
.info-section .price-section div {
  display: inline-block;
}
.info-section .price-section .price-per-meter {
  font-size: 14.8px;
  color: #506474;
}

.hashtags-section {
  font-size: 14.8px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 0 20px 20px;
  font-family: "IRANYekan";
  color: #a4b1bb;
}

.ad-btns {
  border-top: 2px solid #dde4ea;
  padding: 17px 13px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 14.5px;
  letter-spacing: 0.15px;
  font-family: "IRANYekan-Bold";
}
.ad-btns a {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 181.5px;
  height: 36px;
  cursor: pointer;
  transition: transform 0.15s;
  text-decoration: none;
}
.ad-btns a:hover {
  transform: scale(1.008);
}
.ad-btns a:active {
  transform: scale(1);
  opacity: 0.8;
}
.ad-btns .save-ad-btn {
  border: 2px solid #283946;
  color: #283946;
}
.ad-btns .more-details-btn {
  border: 2px solid #01c73a;
  color: #01c73a;
}
.ad-btns .more-btn {
  width: 67.9px;
  background: url("../imgs/ThreeDots.svg") center/cover no-repeat, #f1f4f7;
  background-size: 18px;
}

.deletion-reminder {
  color: #ef3e4a;
  font-family: "IRANYekan-Bold";
  font-size: 15px;
  background: url("../imgs/CautionIndicator.svg") no-repeat;
  background-size: 26px;
  background-position: 100%;
  padding: 0 32px;
  margin: 3px 14px 9.5px;
  letter-spacing: -0.15px;
}/*# sourceMappingURL=style.css.map */