@import "extra";

@font-face {
    font-family: "IRANYekan";
    src: url("../Fonts/IRANYekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url("../Fonts/IRANYekan-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.page-container {
    position: absolute;
    top: 0;
    top: 50px;
    left: 515px;
    width: 500px;
    // height: 657px;
    background-color: white;
    z-index: 10;
    border-radius: 25px 25px 0 0;
}

.info-back {
    // border: 1px solid red;
    height: 43px;
    background: url("../imgs/BackArrow.svg") no-repeat;
    background-position: 459px;
    background-size: 21px;
    display: flex;
    align-items: center;
    padding-right: 47px;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.info-section {
    // border: 1px solid blue;
    padding: 0 17px 0 15px;
    position: relative;
}

.info-header {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;

    .left-section {
        display: flex;
        color: #506474;
        background-color: #dde4ea;
        font-size: 12px;
        gap: 16px;
        border-radius: 0 0 8px 8px;
        padding: 3px 11px 3px 15px;
        position: absolute;
        left: 0;
        top: 0;

        .id-text {
            padding-top: 1.5px;
        }

        .id-number {
            font-family: "IRANYekan-Bold";
            font-size: 14px;
            letter-spacing: 0.4px;
        }
    }

    .right-section {
        // border: 1px solid red;
        display: flex;
        gap: 1px;
        position: absolute;
        top: 0;
        right: 0;

        div {
            font-size: 14px;
            font-style: normal;
            padding: 8px 9px 9px 9px;
            color: white;
            letter-spacing: 0.3px;
            line-height: 10px;
            // font-family: "IRANYekan-Bold";
        }

        .sell-tag {
            // border: 1px solid red;
            background-color: #1ca8d3;
            border-radius: 0 0 8px 0;
            padding-right: 16px;
            padding-left: 10px;
        }

        .type-tag {
            background-color: #ef3e4a;
            border-radius: 0 0 0 8px;
        }
    }
}

.tag-header {
    // border: 1px solid orange;
    // height: 400px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    // padding: 8px 15px;
    font-size: 13.5px;

    .right-section {
        display: inline-flex;
        justify-content: left;
        gap: 8px;

        div {
            border-radius: 5px;
            color: white;
            padding: 0 13px 0px 4px;
            letter-spacing: 0.6px;
        }

        .given-icon {
            background: url("../imgs/Ehiashode.svg") no-repeat, #283946;
            background-size: 21px;
            background-position: 93%;
        }

        .handy-icon {
            background: url("../imgs/Damedasti.svg") no-repeat, #283946;
            background-size: 21px;
            background-position: 93%;
        }
    }

    .left-section {
        // border: 1px solid red;
        color: #506474;
        letter-spacing: 0.2px;
        display: flex;
        font-size: 14px;
        gap: 2px;
        // padding-bottom: 5px;
        position: relative;
        top: -3px;

        .radar-id-number {
            letter-spacing: 0.8px;
        }
    }
}

.info-title {
    // border: 1px solid red;
    font-family: "IRANYekan-Bold";
    font-size: 19px;
    color: #283946;
    margin: 15px 1px 0;
    letter-spacing: -0.05px;
}

.time-section {
    color: #9dabb6;
    padding: 0 1px 0 18px;
    font-size: 16.2px;
    letter-spacing: 0.2px;
    line-height: 27px;

    div {
        // border: 1px solid red;
        display: inline-block;
    }
}

.price-section {
    border-top: 1.8px solid #dde4ea;
    border-bottom: 1.8px solid #dde4ea;
    margin: 23.5px 0;
    padding: 24px 1px 22px;
    font-size: 17px;
    color: #283946;
    letter-spacing: -0.1px;

    div {
        display: inline-block;
        // border: 1px solid red;
    }

    .price-per-meter {
        font-size: 14.2px;
        color: #506474;
        letter-spacing: 0.01px;
        position: relative;
        top: -2px;
        right: -3px;
    }
}

.features-section {
    // border: 1px solid red;

    .features-title {
        font-size: 16.6px;
        color: #506474;
        font-family: "IRANYekan-Bold";
    }

    .features-icons {
        // border: 1px solid green;
        display: flex;
        font-size: 14px;
        margin-top: 7px;
        height: 30px;
        gap: 25px;

        & > div {
            width: 100%;
            // border: 1px solid blue;
            letter-spacing: 0.1px;
        }

        .background-tag {
            padding: 0 30px;
        }

        // Not Active
        color: #a4b1bb;

        .elevator-content {
            background: url("") no-repeat;
            background-position: 100%;
            background-size: 24px;
        }

        .parking-content {
            background: url("") no-repeat;
            background-position: 100%;
            background-size: 24px;
        }

        .balcone-content {
            background: url("../imgs/BalconeNotActive.svg") no-repeat;
            background-position: 100%;
            background-size: 24px;
        }

        .storge-content {
            background: url("../imgs/StorageNotActive.svg") no-repeat;
            background-position: 100%;
            background-size: 24px;
        }

        .pos-rel {
            position: relative;

            .tag-line {
                background-color: #a4b1bb;
                height: 66px;
                width: 1.1px;
                position: absolute;
                top: -21px;
                right: 32px;
                transform: rotate(70deg);
            }
        }

        // Active
        .active-tag {
            color: #283946;

            .elevator-content {
                background: url("../imgs/ElevatorActive.svg") no-repeat;
                background-position: 100%;
                background-size: 24px;
            }

            .parking-content {
                background: url("../imgs/ParkingActive.svg") no-repeat;
                background-position: 100%;
                background-size: 24px;
            }

            .balcone-content {
                background: url("../imgs/BalconeActive.svg") no-repeat;
                background-position: 100%;
                background-size: 24px;
            }

            .storge-content {
                background: url("../imgs/StorageActive.svg") no-repeat;
                background-position: 100%;
                background-size: 24px;
            }

            .tag-line {
                display: none;
            }
        }
    }
}

.info-details {
    margin: 20px 1px;

    .details-header {
        color: #506474;
        font-family: "IRANYekan-Bold";
        font-size: 16.5px;
    }

    .details-text {
        padding-top: 7px;
        color: #283946;
        font-size: 19px;
    }
}

.info-mlk-details {
    border: 2px solid #01c73a;
    margin: -6px 0 0 1px;
    background-color: #e7ffee;
    border-radius: 13px;
    padding: 7px 12px;
    color: #283946;

    .details-mlk-header {
        color: #506474;
        font-size: 16px;
        letter-spacing: 0.4px;
    }

    div {
        display: flex;
        flex-direction: row;
        font-size: 19.5px;
        gap: 5px;
    }

    .name-section {
        margin-top: 3px;
    }

    .address-section {
        letter-spacing: -0.2px;
    }

    .description-section {
        letter-spacing: -0.1px;
    }
}

.phone-external-link {
    // border: 1px solid red;
    margin: 16px 0 0 2px;
    background: url("../imgs/Call.svg") no-repeat;
    background-position: 99%;
    background-size: 19px;
    padding: 0 30px 0 0;
    font-family: "IRANYekan-Bold";
    height: 35px;
    display: flex;
    justify-content: space-between;

    .phone-section {
        display: flex;
        align-items: center;
        font-size: 17px;
        letter-spacing: -0.1px;
    }

    .external-link-section {
        outline: 2px solid #dde4ea;
        outline-offset: -1px;
        width: 99px;
        // height: 100%;
        background: url("../imgs/DivarLogo.png") no-repeat;
        background-size: 38px;
        background-position: 43px 3px;
        border-radius: 7px;
        position: relative;
        height: 34px;
        cursor: pointer;

        .arrow-icon {
            // border: 1px solid blue;
            width: 20px;
            height: 34px;
            position: absolute;
            top: 0;
            left: 19px;
            background: url("../imgs/NextArrow.svg") center/cover no-repeat;
            background-size: 27px;
        }
    }
}

.hashtags-section {
    // border: 1px solid red;
    font-size: 16.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "IRANYekan";
    color: #a4b1bb;
    margin: 18px 7px 10px;

    div {
        margin: 0 0 9px 20.5px;
    }
}

.action-section {
    // border: 1px solid red;
    // height: 115px;
    box-shadow: 0px -6px 9px 0px rgba(40, 57, 70, 0.04);
    padding-bottom: 15px;

    .action-btns {
        padding: 22px 17px 10px 15px;
        display: flex;
        flex-direction: row;
        gap: 18px;
        font-size: 14px;
        letter-spacing: 0.15px;
        font-family: "IRANYekan-Bold";

        a {
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 195px;
            height: 35px;
            cursor: pointer;
            transition: transform 0.15s;
            text-decoration: none;

            &:hover {
                transform: scale(1.008);
            }
            &:active {
                transform: scale(1);
                opacity: 0.8;
            }
        }

        .save-ad-btn {
            border: 2px solid #283946;
            color: #283946;
            // padding: 4px 13px;
        }

        .action-btn {
            color: #506474;
            background: url("../imgs/AmaliatFile.svg") no-repeat, #f1f4f7;
            background-position: 74%;
            background-size: 17.3px;
            padding-right: 30px;
            border: 1px solid white;
            font-family: "IRANYekan";

        }

        .more-btn {
            width: 67.9px;
            background: url("../imgs/ThreeDots.svg") center/cover no-repeat,
                #f1f4f7;
            background-size: 18px;
        }
    }
}

.deletion-reminder {
    color: #ef3e4a;
    // border: 1px solid red;
    font-family: "IRANYekan-Bold";
    font-size: 15px;
    background: url("../imgs/CautionIndicator.svg") no-repeat;
    background-size: 26px;
    background-position: 100%;
    padding: 0 32px;
    margin: 3px 16px 9.5px;
    letter-spacing: -0.4px;
}