@import "extra";

@font-face {
    font-family: "IRANYekan";
    src: url("../Fonts/IRANYekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url("../Fonts/IRANYekan-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.page-container {
    position: absolute;
    top: 0;
    top: 50px;
    left: 515px;
    width: 500px;
    height: 657px;
    background-color: red;
    opacity: 0.5;
    z-index: 10;
}
