/* IRANYekan - Normal */
@font-face {
    font-family: "IRANYekan";
    src: url("../Fonts/IRANYekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* IRANYekan - Thin */
@font-face {
    font-family: "IRANYekan-Thin";
    src: url("../Fonts/IRANYekan-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* IRANYekan - Light */
@font-face {
    font-family: "IRANYekan-Light";
    src: url("../Fonts/IRANYekan-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* IRANYekan - Medium */
@font-face {
    font-family: "IRANYekan-Medium";
    src: url("../Fonts/IRANYekan-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* IRANYekan - Bold */
@font-face {
    font-family: "IRANYekan-Bold";
    src: url("../Fonts/IRANYekan-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* IRANYekan - Extra Bold */
@font-face {
    font-family: "IRANYekan-ExtraBold";
    src: url("../Fonts/IRANYekan-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* IRANYekan - Black */
@font-face {
    font-family: "IRANYekan-Black";
    src: url("../Fonts/IRANYekan-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* IRANYekan - Extra Black */
@font-face {
    font-family: "IRANYekan-ExtraBlack";
    src: url("../Fonts/IRANYekan-ExtraBlack.ttf") format("truetype");
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}
